.about-repart {
	@include box-sizing;
	height: 100%;
	position: relative;
	background-color: #f1f1f1;

	> .about {
		@include alignXY;
		width: 90%;

		@include breakpoint(tablet) {
			width: 70%;
		}

		> p {
			line-height: 100%;
			text-align: center;
			margin: 20px 0;

			@include breakpoint(mobile) {
				line-height: 120%;
			}
			@include breakpoint(tablet) {
				line-height: 150%;
			}
		}
	}
}