@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-sizing($type: border-box) {
	box-sizing: $type;
}

@mixin alignX {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}

@mixin alignY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin alignXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
/**
 * breakpoint
 * @description breakipoints
 * 
 * @args [size] media size (tablet: 768px, desktop: 992px, huge: 1200px)
 */
@mixin breakpoint($size) {
  @if ($size == tablet) {
    @media (min-width: 48em) {
      @content;
    }
  }
  @else if ($size == desktop) {
    @media (min-width: 62em) {
      @content;
    }
  }
  @else if ($size == huge) {
    @media (min-width: 75rem) {
      @content;
    }
  }
}
